<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <test name="All Tests">
        <classes>
            <class name="tests.TeaserTest" />
            <class name="tests.CookieToolbarTest" />
            <!-- Add more test classes here -->
        </classes>
    </test>
</suite>
